body {
  background-color: blue;
}
section {
  width: 100%;
  height: 100vh;
  background-color: blueviolet;
  margin: auto;
  display: flex;
  align-content: center;
  overflow: hidden;
  justify-content: center;
  background-image: url(image/1.gif);
}
.judul {
  background-color: blue;
}
H1 {
  text-align: center;
  background-color: blue;
  color: aliceblue;
}

h2 a {
  text-align: center;
  background-color: rgb(238, 27, 189);
  width: 100px;
  height: 40px;
  border-radius: 20%;
  color: aliceblue;
  display: block;
  line-height: 40px;
}

h3 a {
  width: 90px;
  height: 40px;
  background-color: rgb(238, 27, 189);
  color: aliceblue;
  display: block;
  text-align: center;
  line-height: 40px;
  border-radius: 30px;
}
marquee {
  margin: auto;
  color: rgb(50, 240, 36);
  font-size: 30px;
  background-color: blue;
}

#sound {
  width: 130px;
  height: 130px;
  background-color: aqua;
  cursor: pointer;
  border-radius: 50%;
  line-height: 130px;
  justify-content: center;

  align-items: center;
  display: flex;
}

#sound1 {
  width: 130px;
  height: 130px;
  background-color: rgb(233, 184, 36);
  cursor: pointer;
  border-radius: 50%;
  line-height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#sound2 {
  width: 130px;
  height: 130px;
  background-color: rgb(0, 255, 26);
  cursor: pointer;
  border-radius: 50%;
  line-height: 130px;
  text-align: center;
  color: aliceblue;
}

#sound3 {
  width: 130px;
  height: 130px;
  background-color: rgb(221, 255, 0);
  cursor: pointer;
  border-radius: 50%;
  line-height: 130px;
  text-align: center;
  color: aliceblue;
}

#sound4 {
  width: 130px;
  height: 130px;
  background-color: rgb(174, 255, 0);
  cursor: pointer;
  border-radius: 50%;
  line-height: 130px;
  text-align: center;
  color: aliceblue;
}

#sound5 {
  width: 130px;
  height: 130px;
  background-color: rgb(236, 14, 139);
  cursor: pointer;
  border-radius: 50%;
  line-height: 130px;
  text-align: center;
  color: aliceblue;
}

#sound6 {
  width: 130px;
  height: 130px;
  background-color: rgb(17, 243, 17);
  cursor: pointer;
  border-radius: 50%;
  line-height: 130px;
  text-align: center;
  color: aliceblue;
}
.container {
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-content: center;
  border: 2px solid red;
  flex-wrap: wrap;
  margin: auto;
  line-height: 300px;
  box-sizing: border-box;
  background-position: center;
  background-size: cover;
}

a {
  text-decoration: none;
}

a:hover {
  color: red;
  font-size: larger;
}

#sound:hover {
  width: 140px;
  height: 140px;
  background-color: rgb(13, 32, 241);
  transition: 0.3s;
}

#sound1:hover {
  width: 140px;
  height: 140px;
  background-color: rgb(13, 32, 241);
  transition: 0.3s;
}

#sound2:hover {
  width: 140px;
  height: 140px;
  background-color: rgb(13, 32, 241);
  transition: 0.3s;
}

#sound3:hover {
  width: 140px;
  height: 140px;
  background-color: rgb(13, 32, 241);
  transition: 0.3s;
}

#sound4:hover {
  width: 140px;
  height: 140px;
  background-color: rgb(13, 32, 241);
  transition: 0.3s;
}

#sound5:hover {
  width: 140px;
  height: 140px;
  background-color: rgb(13, 32, 241);
  transition: 0.3s;
}

#sound6:hover {
  width: 140px;
  height: 140px;
  background-color: rgb(13, 32, 241);
  transition: 0.3s;
}

/* vidio start */
.container_vidio {
  display: flex;
  background-color: rgb(39, 233, 233);
  justify-content: center;
  width: 1160px;
  margin: auto;
  gap: 3px;
  text-align: center;
}

/* vidio end */

@media (max-width: 578px) {
  .container {
    width: 400px;
    height: 400px;
    background-image: url(image/2.gif);
    background-position: center;
    background-size: cover;
    align-content: center;
    border: 0cm;
    justify-content: center;
  }

  marquee {
    margin: auto;
    font-size: 20px;
    color: aliceblue;
  }

  .vidio iframe {
    width: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .container_vidio {
    max-width: 450px;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
  }
}
